@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.container{
    display: none;
}

@media(max-width:555px){
    
    .btn {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: var(--gap);
        padding: 0.6rem;
        cursor: pointer;
        border-radius: var(--radius);
        border: none;
        box-shadow: var(--shadow);
        position: relative;
      }
      
      .bx {
        font-size: 1.1rem;
      }
      
      .dropdown {
        position: absolute;
        width: 250px;
        box-shadow: var(--shadow);
        border-radius: var(--radius);
        margin-top: 0.3rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(0.5rem);
        transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
      }
      
      .dropdown a {
        display: flex;
        align-items: center;
        column-gap: var(--gap);
        padding: 0.8rem 1rem;
        text-decoration: none;
        color: black;
      }
      
      .dropdown a:hover {
        background-color: var(--color);
        color: white;
      }
}



.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}